html {
  font-size: 100px;
}
.flex_b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cur {
  color: red;
}
@font-face {
  font-family: "iconfont";
  src: url('font/iconfont.eot');
  src: url('font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/iconfont.woff') format('woff'), /* chrome, firefox */ url('font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('font/iconfont.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.icon {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Microsoft Yahei", "微软雅黑";
  background-color: #f9f9f9;
}
.footer {
  display: flex;
  border-top: 1px solid #ededec;
  background-color: #fff;
  margin-top: 0.23rem;
}
.footer div {
  margin: auto;
  box-sizing: border-box;
  height: 1.65rem;
  line-height: 0.56rem;
  padding-top: 0.23rem;
}
.footer div p:first-child {
  color: #494848;
  font-size: 0.28rem;
  text-align: center;
}
.footer div p:last-child {
  color: #9a9b9c;
  font-size: 0.26rem;
  text-align: center;
}
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  display: block;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun", "宋体";
}
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
select,
input {
  vertical-align: middle;
}
select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}
input[type="text"],
input[type="password"],
textarea {
  outline-style: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
input,
textarea {
  background: none;
  border: none;
}
table {
  border-collapse: collapse;
}
body {
  color: #333;
  font-size: 12px;
}
a {
  color: #000;
  text-decoration: none;
}
i,
em {
  font-style: normal;
}
header {
  color: #fff;
  background-color: #FA3432;
  padding-left: 0.3rem;
  padding-right: 0.38rem;
  height: 0.94rem;
  font-size: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  font-size: 0.3rem;
  display: block;
  color: #fff;
}
.center {
  margin-bottom: 2.2rem;
}
.center .big-logo {
  height: 3.3rem;
  display: flex;
}
.center .big-logo img {
  height: 1.92rem;
  width: 1.92rem;
  margin: auto;
}
.center .input div {
  height: 0.77rem;
  width: 7rem;
  line-height: 0.77rem;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  margin: 0 auto;
  background-color: #fff;
}
.center .input div span {
  font-size: 0.7rem;
  color: #cdd6d9;
  flex: 0 0 auto;
}
.center .input div input {
  height: 0.6rem;
  font-size: 0.4rem;
  flex: 1 1 auto;
}
.center .next {
  margin: 0 auto;
  width: 6.92rem;
  height: 0.81rem;
  line-height: 0.81rem;
  text-align: center;
  font-size: 0.3rem;
  border-radius: 0.1rem;
  margin-top: 0.18rem;
  margin-bottom: 0.2rem;
  border: 1px solid transparent;
  background-color: #FA3432;
}
.center .next a {
  color: #fff;
}
.center p {
  font-size: 0.28rem;
  color: #666;
  text-align: center;
}
.footer {
  width: 100%;
  z-index: -2;
  position: fixed;
  bottom: 0;
  left: 0;
}
